
*.pdb
*.exe
*.txt
*.cache
*.props
*.targets
FlyingDutchmanAirlines_Test/obj/FlyingDutchmanAirlines_Test.csproj.nuget.dgspec.json
FlyingDutchmanAirlines_Test/obj/project.assets.json
*.dll
FlyingDutchmanAirlines/bin/Debug/net5.0/FlyingDutchmanAirlines.runtimeconfig.dev.json
FlyingDutchmanAirlines/bin/Debug/net5.0/FlyingDutchmanAirlines.deps.json
FlyingDutchmanAirlines/bin/Debug/net5.0/FlyingDutchmanAirlines.runtimeconfig.json
*.CopyComplete
*.editorconfig
.vs/FlyingDutchmanAirlinesNextGen/v16/.suo
.vscode/launch.json
.vscode/tasks.json
FlyingDutchmanAirlines/obj/FlyingDutchmanAirlines.csproj.nuget.dgspec.json
FlyingDutchmanAirlines/obj/project.assets.json
FlyingDutchmanAirlines_Test/bin/Debug/net5.0/FlyingDutchmanAirlines_Test.runtimeconfig.dev.json
